# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt

# IDEs (Code Editors)
.vscode/
.idea/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db

# Database & Logs
*.db
*.sqlite
*.log
*.sql.gz

# Data & Environment
.env
.venv
*.zip
*.tar.gz
data_backups/
